#questions {
  margin: 20px auto;
  max-width: 600px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cta {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin: 20px auto;
  max-width: 600px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-image {
  text-align: center;
  margin-top: 20px;
}

.result-image img {
  max-width: 100%;
  height: auto;
}

.result-link {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.result-link {
  text-decoration: none !important;
}
